<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8132c83a04.js" crossorigin="anonymous"></script>
    <!-- modal -->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/public/css/boardDetail.css" /> 
</head>
<body>
  <div class="container">

    <div class="mypage-head"> 😋 SWITH LOUNGE 에 오신걸 환영합니다! 😋
        <button type="button" onclick="goHome()" class="homeBtn">
            <i class="fa-solid fa-house"></i>
        </button>
    </div>

    <div class="menu">
      <div onclick="goSearch()">
          <i class="fa-solid fa-user">&nbsp;&nbsp;
              <a href="">게시판조회</a>
          </i>
          <span><i class="fa-solid fa-user">&nbsp;&nbsp;
              <a href="">게시판조회</a>
          </i></span>
      </div>
      <div onclick="goPosting()">
          <i class="fa-solid fa-podcast">&nbsp;&nbsp;
              <a href="http://localhost:8000/">게시판등록</a>
          </i>
          <span><i class="fa-solid fa-podcast">&nbsp;&nbsp;
              <a href="http://localhost:8000/">게시판등록</a>
          </i></span>
      </div>
    </div>

    <div class="modify-list">
      <form id="board_info">
          <div class="info-field">
            <div class="input-group">
              <label for="title"><i class="fa-solid fa-paw"></i>제목</label>
            </div>
            <div class="input-group">
              <label for="message"><i class="fa-solid fa-message"></i>내용</label>
            </div>
          </div>
        </form>

        <div class="lounge_back" onclick="backToLounge();">목록</div>
        
      <form id="comment_info">
          <input type="text" name="studymem_name" readonly>
          <input type="text" name="studymem_comment">
          <button type="button" onclick="enterComment();">등록</button>
          <!-- 댓글 수정삭제 시간상 가능하면 하기 -->
      </form>

    </div>

  </div>
</body>
</html>