<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swith:비밀번호 찾기</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <%-include('loginCSS')%>

    <script>
        function loginUser() {
                var form = document.getElementById('login_form');
                axios ({
                    method:'post',
                    url: "http://localhost:8000/user/login",
                    data: {
                        id : form.id.value,
                        pw: form.password.value,
                        remember : form.id_remember.value,
                    }
                })
                .then((req) => { return req.data;})
                .then((data) => {
                    alert(data);
                })
            }

            function register() {
                document.location.href="http://localhost:8000/user/sign";
            }

            function findPw() {
                document.location.href="http://localhost:8000/user/findUser";
            }
    </script>
</head>
<body>
    <tbody>
        <div class="container text-center">
            <div class="row">
            <div class="col-2"></div>
            <div class="col-8 login_main">
                <img src="/login/login_image.png" class="login_background">
                <div class="form_background"></div>
                <form id="login_form">
                    <h1>LOGIN</h1>

                    <!-- <div></div> 여기는 나중에 경고창 띄울 곳-->
                        <input type="text" id="user" name="id" class="login_form_user" placeholder="아이디" style="color:white"><br><br>
                        <input type="password" id="pw" name="password"  class="login_form_pw" placeholder="비밀번호" style="color:white">
                        <br>

                        <input type="checkbox" id="userid_Remmber" name="id_remember"><span style="font-size: 0.7rem;">아이디를 기억해줘!</span>
                    
                        <!-- <div></div>아이디를 기억해줘! -->


                        <br>
                        <br>


                        <button type="button" class="loginUser" style="color:#FFE19C" onclick="loginUser();">로그인하기</button>

                        
                        <br><br>

                        <div>

                            <span>아직도 스윗이 아니신가요?</span>&nbsp;
                            <a href="http://localhost:8000/user/sign" target="_self" onclick="register();" style="color:#4686C2; font-weight:bolder">회원가입</a>&nbsp

                            <span>하러가기</span>
                        </div>
                        <br>
                        <div>

                        <a href="http://localhost:8000/user/findeUser" target="_self" onclick="findPw();" style="color:black; font-weight: bolder;">비밀번호 찾기</a>

                        </div>

                        <hr>

                            <div class="kakao_login" onclick="kakaoLogin();">
                            <a href="javascript:void()">
                                <span><img src="/login/kakao_login.png" width="150px;"></span>
                            </a></div>
                    
                </form>
            </div>
            </div>
            <div class="col-2"></div>
            </div>
        </div>

    </tbody>
</body>
</html>