<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swith:비밀번호 찾기</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--sweetalert -->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/find.css">

    <script>
        function password_find() {
            var form = document.getElementById('find_password');
            var flag = checkData();
            if ( flag == true ) {
                axios ({
                    method:'post',
                    url: "http://localhost:8000/user/find",
                    data: {
                        user_id : form.user_id.value,
                        hint : form.hint.value,
                        hint_answer : form.hint_answer.value
                    }
                })
                .then((req) => { return req.data; })
                .then((data) => {
                    console.log('답을 확인해주세요', data);
                    if (data == "") { // 답 틀리면
                        FalseCase();
                    } else { // 답 맞으면
                        TrueCase();
                    }
                });
            }
        }
            
        // 비밀 번호 찾기 답을 틀린 경우 
        function FalseCase() {
            $('#PopUp').html("<p>질문과 답을 재확인해주세요.</p>");
        }

        // 비밀번호 찾기 답을 맞은 경우
        function TrueCase() {
            $('#find_button').html("<button class='modifyUser' style='color:white'>비밀번호 변경</button>");
        }   

        /* 아이디 유무 검사 */
        function checkID( obj ){
            axios({
                method: "post",
                url: "http://localhost:8000/user/find/isId ",
                data: {
                    user_id: obj.value,
                }})
                .then((rep) => {return rep.data;})
                .then((data) => {
                console.log(data);
                // data는 signupController에서 true, false 형식으로 보낸다.
                if ( data ) { // data가 true면 실행
                    $("#checkID_text").css("color", "green");
                    $("#checkID_text").text("존재하는 아이디 입니다.");
                } else { // data가 false면 실행
                    $("#checkID_text").css("color", "red");
                    $("#checkID_text").text("존재하지 않는 아이디입니다.");
                }
            });
        }

        // 로그안 창으로 돌아가기
        function back() {
            document.location.href="http://localhost:8000/user/login"; 
        }

        /* 데이터 유효성 검사 alert */
        function checkData () {
                var form = document.getElementById("find_password");

                if (form.user_id.value == '') {
                    Swal.fire({
                        icon: 'warning',
                        title: '아이디를 입력해주세요!',
                        text: '20글자 이내',
                    })
                    return false;
                }

                if (form.hint_answer.value == '') {
                    Swal.fire({
                        icon: 'warning',
                        title: '비밀번호 힌트 답을 입력해주세요',
                        text: '50글자 이내',
                    })
                    return false;
                }
                return true;
            }
    </script>
    <style>
        .PopUp {
            width: 200px;
            height: 50px;
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body>
    <!-- navbar -->

    <tbody>
        <div class="container" id="container">
            <img src="/public/login/login_image.png" class="find_background">
            
            <div class="form_background"></div>
            
            <div class="col-3"></div>
            <div class="find_card">
                <!-- 폼 -->
                <form id="find_password"  method="post" action="/user/modify">
                    <div class="box">
                        <a href="http://localhost:8000/swith" ><img src="/public/login/logo.png" width="300px;" class="login_logo"><br></a>
                        <h1 class="password_find">비밀번호 찾기</h1>
                        
                        <input type="text" id="id" name="user_id" class="find_password_user" placeholder="아이디" required style="color:white" onkeyup="checkID( this );">
                        <br><p id="checkID_text"></p>
                        
                    
                        <select name="hint" class="hint" style="width:350px;height:50px;">
                            <option value="0">전체</option>
                            <option value="1">어느 중학교 출신인가요?</option>
                            <option value="2">좌우명을 입력해주세요.</option>
                            <option value="3">학창시절에 좋아했던 과목은 무엇인가요?</option>
                        </select>
                        <div id="PopUp" class="PopUp"></div>
                        <div id="button_site" class="button_site">
                        <br><br>
                        <input type="text" id="hint_answer" name="hint_answer" class="hint_answer" placeholder="답변을 입력해주세요." required style="color:white">
                        <br><br>
                        <button href="javascript:enter_find();" type="button" id="find_button" class="findUser" onclick="password_find()" style="color:#FFE19C">비밀번호 찾기</button>
                        </div>
                        <div class="text_box">
                            <span>이미 스윗이신가요?</span>&nbsp;

                            <a href="javascript:void(0);" onclick="back();return">로그인</a>&nbsp;
                            <span>하러가기</span>
                        </div>
                        <!-- <button type="button" id="login_back" class="login_back" onclick="back()" style="color:#FFE19C">로그인 하기</button> -->
                    </div>
                </form>
            </div>  
            </div>    
        </div>        
    </tbody>
    <script>
        // 엔터키 누르면 버튼 실행
        $('#container').keyup(function(e){
            if ( e.keyCode === 13 ) {
                password_find();
                return;
            }
        });
    </script>
</body>
</html>