<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swith:비밀번호 찾기</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/find.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        function password_find() {
                var form = document.getElementById('find_password');
                axios ({
                    method:'post',
                    url: "http://localhost:8000/user/find",
                    data: {
                        user_id : form.user_id.value,
                        hint : form.hint.value,
                        hint_answer : form.hint_answer.value
                    }
                })
                .then((req) => { return req.data; })
                .then((data) => {
                    console.log('여기가 악', data);
                    if (data == "") { // 답 틀리면
                        FalseCase();
                    } else { // 답 맞으면
                        TrueCase();
                    }
                });
            }
            
        // 비밀 번호 찾기 답을 틀린 경우 
        function FalseCase() {
            $('#PopUp').html("<p>질문과 답을 재확인해주세요.</p>");
        }

        // 비밀번호 찾기 답을 맞은 경우
        function TrueCase() {
            $('#find_button').html("<button class='modifyUser' style='color:white'>비밀번호 변경</button>");
        }
    </script>
    <style>
        .PopUp {
            width: 200px;
            height: 50px;
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body>
    <tbody>
        <div class="container">
            <img src="/public/login/login_image.png" class="find_background">
            
            <div class="form_background"></div>
            
            <div class="col-3"></div>
            <div class="find_card">
                <!-- 폼 -->
                <form id="find_password"  method="post" action="/user/modify">
                    <img src="/public/login/logo.png" width="300px;" class="login_logo"><br>
                    <h1 class="password_find">비밀번호 찾기</h1>

                <input type="text" id="id" name="user_id" class="find_password_user" placeholder="아이디" required style="color:white">
                
                <br><br>
                <select name="hint" class="hint">
                    <option value="0">전체</option>
                    <option value="1">어느 중학교 출신인가요?</option>
                    <option value="2">좌우명을 입력해주세요.</option>
                    <option value="3">학창시절에 좋아했던 과목은 무엇인가요?</option>
                </select>
                <div id="PopUp" class="PopUp"></div>
                <div id="button_site">
                  <br><br>
                  <input type="text" name="hint_answer" class="hint_answer" placeholder="답변을 입력해주세요." required style="color:white"> 
                  <br><br>
                  <button type="button" id='find_button' class="findUser" onclick="password_find()" style="color:white">비밀번호 찾기</button>
                </div>
                </form>
            </div>    
            </div>    
        </div>        
    </tbody>
</body>
</html>