<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>StudyWITH</title>
  <link rel="icon" href="../swithlogo.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="/public/css/first_register.css" />
</head>
<body>
  <div class="container">
    <div class="account">
      <img class="userLogo" src="../public/register/account_circle.png" alt="logo">
      <div class="user">
        <a href="./second_register.html"><font color= "white"> 일반회원 회원가입하기</font></a>
      </div>
      <p>
        이미 스윗회원이신가요? <a href="javascript:value(0)">로그인</a> 하러가기
      </p>
      <div class="box"></div>
      <a href=""><img src="../public/register/kakao_login_medium_narrow.png" alt="카카오로 시작하기" class="kakao"></a>
    </div>
  </div>
</body>
</html>