<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <!-- ==========================================footer========================================== -->
    <footer class="footer">
        <div class="inner-footer">
            <div class="social-links">
                <ul>
                    <li class="social-items"><a href="https://github.com/SeSAC43-Project/StudyWith" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                    <li class="social-items"><a href="https://www.notion.so/StudyWith-e93a4cc462c24d248243f0695eeaca56" target="_blank"><img src="/public/main/notion.png" alt="notion"></a></li>
                    <li class="social-items"><a href="javascript:void(0)"><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li class="social-items"><a href="javascript:void(0)"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>

            <div class="quick-links">
                <ul>
                    <li class="quick-items"><a href="">메인</a></li>
                    <li class="quick-items"><a href="https://sesac.seoul.kr/course/active/detail.do" target="_blank">스윗소개</a></li>
                    <li class="quick-items"><a href="javascript:void(0)">이용약관</a></li>
                    <li class="quick-items"><a href="javascript:void(0)">개인정보처리방침</a></li>
                </ul>
            </div>

            <div class="outer-footer">
                © Copyright 2022. Swith. All Rights Reserved.
            </div>
        </div>
    </footer>
</body>
</html>