<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Swith:로그인</title>
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    
        <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/css/login.css" />
    </head>
    <body>
        
            <% if(locals.user_id) { %>
                <div id="user_id" style="display:none"><%=user_id %></div>
            <% } %>
            <div class="container">
                <img src="/public/login/login_image.png" class="login_background">
                    <form id="login_form">
                        <div class="form_background"></div>
                        <div class="login_info">
                        <a href="http://localhost:8000/swith"><img src="/public/login/logo.png" width="300px;" class="login_logo"><br></a>
                        <div class="warningLogin"></div><br>
                            <input type="text" id="user" name="id" class="login_form_user" placeholder="아이디" style="color:white" required>
                            <!-- <br><br> -->
                            <input type="password" id="pw" name="password"  class="login_form_pw" placeholder="비밀번호" style="color:white" required>
                            <!-- <br> -->

                            <div class="remember"><label for="userid_Remember" style="font-size: 0.7rem;"><input type="checkbox" id="userid_Remember" name="id_remember" onclick="idRemember()">&nbsp;아이디를 기억해줘!</label></div>

                            <br>


                            <button type="button" class="loginUser" style="color:#FFE19C" onclick="loginUser();">로그인하기</button>

                            
                            <br><br>

                            <div>

                                <span>아직도 스윗이 아니신가요?</span>&nbsp;
                                <!-- <a href="http://localhost:8000/user/signup" target="_self" onclick="register();" style="color:#4686C2; font-weight:bolder">회원가입</a>&nbsp -->
                                <a href="javascript:void(0);" onclick="register();return false;">회원가입</a>&nbsp;
                                <span>하러가기</span>
                            </div>
                            <br>
                            <div>

                            <!-- <a href="http://localhost:8000/user/find" target="_self" onclick="findPw();" style="color:black; font-weight: bolder;">비밀번호 찾기</a> -->
                            <a href="javascript:void(0);" onclick="findPw();return false;">비밀번호 찾기</a>
                            </div>
                        </div>
                    </form>
                <!-- </div> -->
                </div>
        <script>
            //  // 아이디를 기억해줘 확인 절차 시행
            //  $(window).on('load', function() {
            //     var cookieArr = document.cookie.split("; ");
            //     // 아이디 기억하기 쿠키가 존재하면 아이디 띄워주기! 
            //     if (cookieArr.includes('id=remember')) {
            //         var id_input = document.getElementById('user');
            //         var user_id = document.getElementById('user_id').innerText;
            //         id_input.value = user_id;

            //         $("#userid_Remember").prop('checked', true);
            //     }
            // })

            //  엔터키 - 로그인
            $('#pw').keypress(function(e) {
                if (e.keyCode === 13 ) {
                    loginUser();
                }
            });
        
            // 로그인하기
            function loginUser() {
                var form = document.getElementById('login_form');
                var result = form.checkValidity();

                if ( !result ) {
                    Swal.fire({
                        title: '로그인 실패!',
                        text: '아이디와 비밀번호를 모두 입력해주세요.',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                    })
                    return false;
                }

                axios({
                    method:'post',
                    url:'http://localhost:8000/user/login',
                    data : {
                        user_id: form.id.value,
                        user_password: form.password.value
                    }
                })
                .then((req) => {return req.data;})
                .then((data) => {
                   if( data ) {
                    document.location.href="http://localhost:8000/swith";
                   } else {
                        Swal.fire({
                            title: '로그인 실패!',
                            text: '아이디와 비밀번호를 확인해주세요!',
                            icon: 'warning',
                            confirmButtonText: 'OK'
                        })
                   }
                })
            }
        
            function register() {
                document.location.href="http://localhost:8000/user/signup";
            }

            function findPw() {
                document.location.href="http://localhost:8000/user/find";
            }
                 
            function idRemember() {
                // 아이디 기억하기 쿠키가 존재하는지 확인 
                var cookieArr = document.cookie.split("; ");
                if (cookieArr.includes('id=remember')) {  // 쿠키가 있는 상태에서
                    // 쿠키 삭제(만료시켜버리기)
                    var date = new Date();
                    date.setDate(date.getDate() - 10); 
                    var before = date.toGMTString();
                    document.cookie = `id=remember; expires=${before}}`;
                } else { // 쿠키가 없는 상태에서
                    // 날짜 생성 한달 뒤 
                    var date = new Date();
                    date.setDate(date.getDate() + 30); 
                    var afterMonth = date.toGMTString();
                    
                    // 아이디를 기억해줘 누르면 쿠키 생성해주기
                    document.cookie = `id=remember; expires=${afterMonth}`;
                }
            }
        </script>
    </body>
</html>