<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>StudyWITH</title>

  <link rel="stylesheet" href="public/css/main.css" />

  <!--Swiper-->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

  <!--ScrollMagic-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>

  <!--Lodash-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>

  <script defer src="./js/youtube.js"></script>

  <script defer src="./js/main.js"></script>
  
</head>
<body>

  <header>
    <div class="inner">

      <a href="/" class="logo">
        <img src="/public/main/logo.png" alt="swithLogo" />
      </a>

      <div class="sub-menu">
        <ul class="menu">
          <li>
            <a href="/signin"></a>
          </li>
          <li>
            <a href="javascript:void(0)"></a>
          </li>
          <li>
            <a href="javascript:void(0)"></a>
          </li>
          <li>
            <a href="javascript:void(0)"></a>
          </li>
        </ul>
        <div class="search">
          <input type="text" />
          <span class="material-icons"></span>
        </div>
      </div>

    </div>

    <!--BADGES-->
    <!-- <div class="badges">
      <div class="badge">
        <img src="./images/badge1.jpg" alt="Badge" />
      </div>
      <div class="badge">
        <img src="./images/badge2.jpg" alt="Badge" />
      </div>
    </div> -->
  </header>


  <!--VISUAL-->
  <section class="visual">
    <div class="inner">

          <!-- λ©”μΈ μ²«λ²μ§Έ νμ΄μ§€ -->
    <div class="banner">
      <div class="slider">
          <img src="/public/main/studyGroup1.webp" alt="banner_img" id="slideImg">
      </div>
      <div class="overlay">

          <div class="content">
              <h1>FIND YOUR STUDYMATE</h1>
              <h2>π“– StudyWITH μ—μ„ ν•¨κ» κ³µλ¶€ν•  μ¤ν„°λ””μ›μ„ μ°Ύμ•„λ³΄μ„Έμ”! π‘€</h3>
              
              <form class="search_form">
                  <div class="in-line">
                      <input type="text" name="search" class="search_input" placeholder="μ°Ύκ³  μλ” μ¤ν„°λ””λ¥Ό κ²€μƒ‰ν•΄λ³΄μ„Έμ”" style="color:black" />
                      <input type="button" name="search" class="search_button" value="π”" onclick="search()">
                  </div>
                  <!-- <button type="submit" class="search_button">π”</button> -->
              </form>
          </div>
      </div>
  </div>


    </div>
  </section>

  <script>
    var slideImg =document.getElementById("slideImg");

    var images = new Array(
        "/Swith/public/main/studyGroup1.webp",
        "/Swith/public/main/studyGroup2.webp",
        "/Swith/public/main/studyGroup3.jpeg",
        "/Swith/public/main/studyGroup4.jpeg"
    );

    var len = images.length;
    var i = 0;

    function slider(){
        if(i > len-1 ){
            i =0;
        }
        slideImg.src = images[i];
        i++;
        setTimeout('slider()',5000);
    }

</script>


  <!--NOTICE-->
  <section class="notice">

    <!--NOTICE LINE-->
    <div class="notice-line">
      <div class="bg-left"></div>
      <div class="bg-right"></div>
      <div class="inner">

        <div class="inner__left">
          <h2>κ³µμ§€μ‚¬ν•­</h2>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="javascript:void(0)">μ¤μ—1</a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:void(0)">μ¤μ—2</a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:void(0)">μ¤μ—3</a>
              </div>
              <div class="swiper-slide">
                <a href="javascript:void(0)">μ¤μ—4</a>
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="notice-line__more">
            <span class="material-icons">add_circle</span>
          </a>
        </div>

        <div class="inner__right">
          <h2>μ¤μ—GO</h2>
          <div class="toggle-promotion open">
            <div class="material-icons">upload</div>
          </div>
        </div>

      </div>
    </div>

    <!--PROMOTION-->
    <div class="promotion">

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/public/main/guide.png" alt="dsaf" />
            <a href="javascript:void(0)" class="btn">μμ„Έν λ³΄κΈ°</a>
          </div>
          <div class="swiper-slide">
            <img src="/public/main/method.png" alt="sdaf" />
            <a href="javascript:void(0)" class="btn">μμ„Έν λ³΄κΈ°</a>
          </div>
          <div class="swiper-slide">
            <img src="/public/main/challenge.png" alt="asfd" />
            <a href="javascript:void(0)" class="btn">μμ„Έν λ³΄κΈ°</a>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-prev">
        <span class="material-icons">arrow_back</span>
      </div>
      <div class="swiper-next">
        <span class="material-icons">arrow_forward</span>
      </div>

    </div>
  </section>




  <!--FOOTER-->
  <footer>
    <div class="inner">

      

    </div>
  </footer>


  <!--TO TOP BUTTON-->
  <div id="to-top">
    <div class="material-icons">arrow_upward</div>
  </div>

</body>
</html>
