<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyWITH</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/public/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/public/css/main.css" />

  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


  <script>

    function search() {
        var form = document.getElementById('search_form');
        axios ({
                method:'post',
                url: "http://localhost:8000/swith",
                data: {
                     : form.search.value,
                }
                })
                .then((req) => { return req.data;})
                .then((data) => {                  
                        document.location.href="http://localhost:8000/";
                    }
                )
    }

    function goCategory() {
        
    }

  </script>
</head>
<body onload="slider()">

    <!-- λ©”μΈ μ²«λ²μ§Έ νμ΄μ§€ -->
    <div class="banner">
        <div class="slider">
            <img src="/public/main/studyGroup1.webp" alt="banner_img" id="slideImg">
        </div>
        <div class="overlay">
            <div class="navbar">
                <div class="logo">
                    <img src="/public/main/logo.png" alt="swithlogo" />
                </div>
                <div class="menu-icons">
                    <img src="/public/main/user.svg" alt="loginlogo" />
                </div>
            </div>

            <div class="content">
                <h1>FIND YOUR STUDYMATE</h1>
                <h2>π“– StudyWITH μ—μ„ ν•¨κ» κ³µλ¶€ν•  μ¤ν„°λ””μ›μ„ μ°Ύμ•„λ³΄μ„Έμ”! π‘€</h3>
                
                <form id="search_form">
                    <div class="in-line">
                        <input type="text" name="search" class="search_input" placeholder="μ°Ύκ³  μλ” μ¤ν„°λ””λ¥Ό κ²€μƒ‰ν•΄λ³΄μ„Έμ”" style="color:black" />
                        <input type="button" class="search_button" value="π”" onclick="search()">
                    </div>
                    <!-- <button type="submit" class="search_button">π”</button> -->
                </form>
            </div>
        </div>
    </div>

    <!-- λ©”μΈ λ‘λ²μ§Έ νμ΄μ§€ -->
    <section class="body">
        <div class="slide_container swiper">
            <div class="slide_content">
                <div class="card_wrapper slide-wrapper">
                    <div class="card swiper-slide">
                        <div class="image_content">
                            <div class="card_image">
                                <img src="/public/main/guide.png" alt="μ΄μ©μ•λ‚΄" class="card_img"/><br><br>
                                <!-- <a href="javascript:void(0)" class="detail_btn">μμ„Έν λ³΄κΈ°</a> -->
                            </div>
                        </div>
                        <div class="card_content">
                            <button class="button">μμ„Έν λ³΄κΈ°</button>
                        </div>
                    </div>
                    <!-- <div class="swiper-slide">
                        <img src="/public/main/challenge.png" alt="κ³µλ¶€μΈμ¦μ±λ¦°μ§€" class="page2_Img" /><br><br>
                        <a href="javascript:void(0)" class="detail_btn">μμ„Έν λ³΄κΈ°</a>
                    </div>
                    <div class="swiper-slide">
                        <img src="/public/main/method.png" alt="μ΄μλΉ„λ²•" class="page2_Img" /><br><br>
                        <a href="javascript:void(0)" class="detail_btn">μμ„Έν λ³΄κΈ°</a>
                    </div> -->
                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>

        </div>
    </section>

   <!-- λ©”μΈ μ„Έλ²μ§Έ νμ΄μ§€ -->
   <div id="category">
        <div class="category_container">
            <h1 class="sub-title">Category</h1>
            <div class="category_list">
                <div onclick="goCategory()">
                    <h2>μ»΄ν“¨ν„°/IT</h2>
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
                <div>
                    <h2>μ–Έμ–΄</h2>
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
                <div>
                    <h2>μκ²©μ¦</h2>
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
                <div>
                    <h2>μΈμ¦</h2>
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
            </div>

            <div class="category_list">

                <div>
                    <h2>μ·¨μ—…/μ΄μ§</h2>
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
                <div>
                    <h2>κ³µλ¨μ „</h2>
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
                <div>
                    <h2>μ·¨λ―Έ</h2>
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>

            </div>
        </div>
   </div>

    <!-- <div class="category_container">
        <h2 class="sub-title">Category</h2>
        <div class="trending">
            <div>
                <img src="/public/main/challenge.png" alt="">
                <h3>μ»΄ν“¨ν„°/IT</h3>
            </div>
            <div>
                <img src="/public/main/challenge.png" alt="">
                <h3>μ»΄ν“¨ν„°/IT</h3>
            </div>
            <div>
                <img src="/public/main/challenge.png" alt="">
                <h3>μ»΄ν“¨ν„°/IT</h3>
            </div>
            <div>
                <img src="/public/main/challenge.png" alt="">
                <h3>μ»΄ν“¨ν„°/IT</h3>
            </div>
        </div>
    </div> -->

   <!-- λ©”μΈ λ„¤λ²μ§Έ νμ΄μ§€ -->
    <div class="container">
        <div class="container_left">
            <h2>PICK <br> YOUR <br> FAVORITE</h2>
        </div>
        <div class="container_right">
            <h2>μµμ‹ </h2>
            <div class="posting">
                <div  onclick="goCategory()">
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
                <div x>
                    <p>κ°μ„¤λ λ¨μ„</p>
                </div>
                <div >
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
            </div>

            <h2>μΈκΈ°</h2>
            <div class="posting">
                <div  onclick="goCategory()">
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
                <div x>
                    <p>κ°μ„¤λ λ¨μ„</p>
                </div>
                <div >
                    <p>κ°μ„¤λ λ¨μ„</p>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        var slideImg =document.getElementById("slideImg");

        var images = new Array(
            "/public/main/studyGroup1.webp",
            "/public/main/studyGroup2.webp",
            "/public/main/studyGroup3.jpeg",
            "/public/main/studyGroup4.jpeg"
        );

        var len = images.length;
        var i = 0;

        function slider(){
            if(i > len-1 ){
                i =0;
            }
            slideImg.src = images[i];
            i++;
            setTimeout('slider()',5000);
        }

    </script>

    <script src="/public/js/swiper-bundle.min.js"></script>
</body>
</html>

