<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyWITH</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="/public/css/main.css" />
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>

    <!-- 메인 첫번째 페이지 -->
    <div clas="banner">
        <div class="slider">
            <img src="/public/main/main1.jpeg" alt="banner_img" id="slideImg">
        </div>
        <div class="overlay">
            <div class="navbar">
                <div class="logo">
                    <img src="/public/main/logo.png" alt="swithlogo" />
                </div>
                <div class="menu-icons">
                    <img src="/public/main/user.svg" alt="loginlogo" />
                </div>
            </div>

            <div class="content">
                <h1>FIND YOUR STUDYMATE</h1>
                <h2>📖 StudyWITH 에서 함께 공부할 스터디원을 찾아보세요! 👀</h3>

                <div class="in-line">
                    <input type="text" name="search" value="" class="search_input" placeholder="찾고 있는 스터디를 검색해보세요" style="color:white" />
                    <input type="button" name="search" class="search_button" value="🔍">
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
</body>
</html>