<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="my-head">닉네임</div>
        <div class="my-info">
            <div class="btn-contatiner">
                <button type="button">참여중</button>
                <button type="button">참여완료</button>
                <button type="button">찜목록</button>
                <button type="button">회원정보수정</button>
            </div>
            <div class="info-container">
                <span>내가 조장인 스터디</span>
                <div class="feed"></div>
                <span>내가 팀원인 스터디</span>
                <div class="feed"></div>
            </div>
        </div>
    </div>
</body>
</html>