<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>StudyWITH</title>
  <link rel="icon" href="../swithlogo.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="/public/css/signUp.css" />
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- <style>
    body {
        margin: 0;
        font-family: 'market Sans';
    }
    a {
        text-decoration: none;
        color: white;
    }
    ul {
        padding-left: 0;
    }
    li {
        list-style: none;
    }
    header {
        padding: 20px;
        background-color: #4686C2;
        position: relative;
    }
    #navbar {
        width: 100%;
        display: contents;
        align-items: center;
        display: inline-block;
        vertical-align: middle;
    }
    .navbar_logo {
        display: block;
        text-align: center;
        bottom: 10px;
        cursor: pointer;
    }
    .navbar:hover {
        cursor: pointer;
    }
    .navbar_menu {
        margin: 1.5rem;
        margin-top: -50px;
        padding-left: 20px;
        column-width: 100px;
        cursor: pointer;
    }
    .login_user {
        display: flex;
        flex-direction: column;
        
    }
    .user {
        position: absolute;
        display: flex;
        margin-top:10px;
        /* margin-left: 20px; */
        align-items: center;
        margin: 0 20px;
        top: 45px;
        right: 0;
    }
    .login {
        margin: 0 30px;
    }
    .logout {
        margin: 0 30px;
        display: none;
    }
    .mypage {
        display: none;
    }
  </style>

  <style>
    body {
        margin: 0;
        font-family: 'market Sans';
    }
    #footer {
        width: 100%;
        background-color: rgb(241, 242, 244);
        text-align: center;
    }
    .footer_logo {
        cursor: pointer;
    }
    a {
        cursor: pointer;
    }
    div {
        text-align: center;
        padding: 10px;
    }
    .copyright {
        margin-top: 5px;
    }
    .footer {
        width: 100%;
        margin: auto;
        position: absolute;
        /* height: 9999px; */
        bottom: 0px;
        left: 0;
    }
  </style> -->

  <script>
    function userProfile() {
        var form = document.getElementById("img_upload");
                axios ({
                    method:'post',
                    url: "http://localhost:8000/user/signup/upload",
                    data: {
                    user_image: form.profileImg.value,
                    }
                })
                .then((req) => { return req.data;})
                .then((data) => {
                    alert(data);
                })
    }

    function idCheck() {
        var form = document.getElementById("form_register");
        axios({
            method: "post",
            url: "http://localhost:8000/user/signup/isId",
            data: {
                user_id: form.id.value
            }
        }).then((req) => { 
            return req.data;
        }).then((data) => {
            if (data.checkid == true) {
                var button = document.getElementById("id-check"); 
                button.innerHTML = "사용<br>가능";
                // button.disabled = true;
            } else {
                var button = document.getElementById("id-check"); 
                button.innerHTML = "불가능<br>다시시도";
            }
        });
    }

    function nicknameCheck() {
        var form = document.getElementById("form_register");
        axios({
            method: "post",
            url: "http://localhost:8000/user/signup/isName",
            data: {
                user_name: form.nickname.value
            }
        }).then((req) => { 
            return req.data;
        }).then((data) => {
            if (data.checkname == true) {
                var button = document.getElementById("nickname-check"); 
                button.innerHTML = "사용<br>가능";
                // button.disabled = true;   
            } else {
                var button = document.getElementById("nickname-check"); 
                button.innerHTML = "불가능<br>다시시도";
            }
        });
    }

    function register() {
      var form = document.getElementById("form_register");
                axios ({
                    method:'post',
                    url: "http://localhost:8000/user/signup",
                    data: {
                    user_id: form.id.value,
                    user_name: form.nickname.value,
                    user_password: form.password.value,
                    category1: form.firstField.value,
                    category2: form.secondField.value,
                    category3: form.thirdField.value
                    }
                })
                .then((req) => { return req.data;})
                .then((data) => {
                    alert(data);
                })
    }
  </script>
</head>

<body>
  <!-- <footer>
      <div id="footer" class="footer">
      <div class="footer_logo">    
          <img width="60" height="30" src="../public/login/logo.png" alt="footer_logo">
          <a href="index.js"></a>
      </div>
      <p class="copyright">Copyright 2022. Swith. All Rights Reserved.</p>
      </div>
  </footer>

  <header class="header">
    <nav id="navbar">
        <div class="navbar_logo">
            <img width="100" height="70" src="../public/login/logo.png" alt="logo" style="text-align:center"><a href="index.js"></a></img>
        </div>

        <ul class="navbar_menu">
            <li class="menu"><a href="#">스터디등록</a></li>
            <li class="menu"><a href="#">스터디조회</a></li>
        </ul>
        
    <div id="login_user">    
        <ul class="user">
            <ul class="login">
                <i class="fa-solid fa-user"></i>
                <a href="#">로그인</a>
            </ul>
        </ul>
    </div>        
        <ul class="logout">
            <i class="fa-solid fa-user"></i>
            <a href="#">로그아웃</a>
        </ul>
        <ul class="mypage">
            <i class="fa-solid fa-memo-circle-info"></i>
            <a href="#">마이페이지</a>
        </ul>
    </nav>
  </header> -->

  <div class="container">
        <div>회원정보를 입력해주세요!</div>

        <form action="/signup/upload" id="img_upload" method="post">
            <div class="profile">
            <label for="profileImg"><br><br>프로필+</label>
            <input type="file" id="profileImg" onchange="userProfile();" />
            </div>
        </form>

        <form action="/signup" id="form_register" method="post">
            
            <input type="text" name="id" placeholder="아이디" class="userid"/>
                <button type="button" id="id-check" onclick="idCheck()">중복<br>확인</button>

            <input type="text" name="nickname" placeholder="닉네임" class="nickname"/>
                <button type="button" id="nickname-check" onclick="nicknameCheck()">중복<br>확인</button>

            <input type="password" name="password" placeholder="비밀번호" class="pw"/>

            <input type="password" placeholder="비밀번호 확인" class="pwConfirm"/>

        <div class="field">관심분야
        
                <div class="first">1순위
                        <select name="firstField" class="firstList">
                            <option value="1">컴퓨터/IT</option>
                            <option value="2">언어</option>
                            <option value="3">자격증</option>
                            <option value="4">인증</option>
                            <option value="5">취업/이직</option>
                            <option value="6">공모전</option>
                            <option value="7">취미</option>
                        </select>
                </div>
        
                <div class="second">2순위
                        <select name="secondField" class="secondList">
                            <option value="1">컴퓨터/IT</option>
                            <option value="2">언어</option>
                            <option value="3">자격증</option>
                            <option value="4">인증</option>
                            <option value="5">취업/이직</option>
                            <option value="6">공모전</option>
                            <option value="7">취미</option>
                        </select>
                </div>
        
                <div class="third">3순위
                        <select name="thirdField" class="thirdList">
                            <option value="1">컴퓨터/IT</option>
                            <option value="2">언어</option>
                            <option value="3">자격증</option>
                            <option value="4">인증</option>
                            <option value="5">취업/이직</option>
                            <option value="6">공모전</option>
                            <option value="7">취미</option>
                        </select>
                </div>
            </form>
        
            <div class="register">
                <a href="javascript:register();" id="signup"><font color= "white">회원가입</font></a>
            </div>
        </div>
  </div>

</body>
</html>