<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>StudyWITH</title>
        <link rel="icon" href="../swithlogo.png" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
        <link rel="stylesheet" href="/public/css/signUp.css" />
        <!-- Axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
            var uploadedFile = "";

            /* 아이디 중복 검사 */
            function checkID( obj ){
                axios({
                    method: "post",
                    url: "http://localhost:8000/user/signup/isId", // routes/index.js 파일의 아이디 중복 검사 path 설정
                    data: {
                        user_id: obj.value,
                    }
                }).then((rep) => {
                    return rep.data;
                }).then((data) => {
                    console.log(data);
                    // data는 signupController에서 true, false 형식으로 보낸다.
                    if ( data ) { // data가 true이면 실행
                        $("#checkID_text").css("color", "green"); // id가 checkID_text 인 태그 css 설정
                        $("#checkID_text").text("사용할 수 있는 아이디입니다."); // id가 checkID_text 인 태그 텍스트 변경
                        $( "button" ).removeAttr("disabled") // 버튼의 disabled 속성을 제거, disabled: 클릭하지 못하도록 하는 속성
                    } else { // data가 false이면 실행
                        $("#checkID_text").css("color", "red");
                        $("#checkID_text").text("사용할 수 없는 아이디입니다.");
                        $( "button" ).attr("disabled", "true");
                    }
                });
            }
            
            /* 닉네임 중복 검사 */
            function checkNickname( obj ) {
                axios({
                    method: "post",
                    url: "http://localhost:8000/user/signup/isName",
                    data: {
                        user_name: obj.value,
                    }
                }).then((req) => { 
                    return req.data;
                }).then((data) => {
                    console.log(data);
                    if ( data ) {
                        $("#checkNickname_text").css("color", "green");
                        $("#checkNickname_text").text("사용할 수 있는 닉네임입니다.");
                        $( "button" ).removeAttr("disabled")
                    } else {
                        $("#checkNickname_text").css("color", "red");
                        $("#checkNickname_text").text("사용할 수 없는 닉네임입니다.");
                        $( "button" ).attr("disabled", "true");
                    }
                });
            }

            /* 비밀번호 확인 */
            function pwCheck() {
                if(document.getElementById('pw').value !='' && document.getElementById('pwConfirm').value!=''){
                    if(document.getElementById('pw').value==document.getElementById('pwConfirm').value){
                        document.getElementById('check').innerHTML='비밀번호 일치🥰'
                        document.getElementById('check').style.color='rgb(54, 54, 255)';
                    }
                    else{
                        document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다';
                        document.getElementById('check').style.color='rgb(255, 89, 89)';
                    }
                }
            }

            /* 회원가입 버튼 클릭 시*/
            function signup() {
                var form = document.getElementById("signup_form");

                axios({
                method:'post',
                url: "http://localhost:8000/user/signup",
                data: {
                    user_id: form.id.value,
                    user_name: form.nickname.value,
                    user_password: form.password.value,
                    hint: form.hint.value,
                    hint_answer: form.hintanswer.value,
                    user_email: form.email.value,
                    user_image: uploadedFile,
                    category1: form.firstField.value,
                    category2: form.secondField.value,
                    category3: form.thirdField.value
                    }
                })
                .then((req) => { return req.data;})
                .then((data) => {
                    alert("회원가입 완료");
                })        
            }

            /* 로그인 버튼 클릭시 페이지 이동*/
            function user_login() {
                document.location.href="http://localhost:8000/user/login";
            }

            /* 프로필 사진 등록 */
            function uploadFile( obj ){
                var formData = new FormData();
                formData.append("name", uploadedFile);
                formData.append('profileImg', obj.files[0]);

                axios({
                    method:'post',
                    url: "http://localhost:8000/user/signup/upload",
                    data: formData,
                })
                .then((req) => { return req.data;})
                .then((data) => {
                    uploadedFile = data.fileName;
                    $("#uploadedProfile").css({"background-image":`url(/public/user/${data.fileName})`}); 
                    $("#uploadedProfile").css({"background-size":`70px 70px`}); 
                })
            }

        </script>
    </head>

    <body>
        <div class="container">
            <img src="/public/login/login_image.png" class="signup_background">
            <!-- <div class="siginup_main"> -->
                
                
                <!-- <div id="form_container"> -->
                    <form id="signup_form">
                        <div id="form_background"></div>
                        
                        <div class="user_info">

                            <img src="/public/login/logo.png" width="300px;" class="signup_logo">

                                <div class="profile" id="img_upload">
                                    <div id="uploadedProfile">
                                        <input type="file" id="profileImg" style="display: none;" name="profileImg" onchange="uploadFile(this);">
                                    </div>
                                    <!-- <label for="profileImg"><br><br>프로필등록
                                    <input type="file" id="profileImg" name="profileImg" onchange="uploadFile( this )">
                                    </label> -->
                                </div>
                                <br><br><br>
                                <span>프로필 등록 📸</span>

                                <br><br><br>

                                <span class="span_field">회원정보를 입력해주세요!</span><br><br>
                                
                                <input type="text" name="id" placeholder="아이디" required onkeyup="checkID( this );" class="userid" style="color:white" />
                                <br>
                                <p id="checkID_text"></p>

                                <br><br>
        
                                <input type="text" name="nickname" placeholder="닉네임" required onkeyup="checkNickname( this );" class="nickname" style="color:white" />
                                <p id="checkNickname_text"></p>

                                <br><br>
        
                                <input type="text" name="email" placeholder="이메일" class="email"/><br><br>

                                <input type="password" name="password" placeholder="비밀번호" onchange="pwCheck()" id="pw" style="color:white" /><br><br>
                                <input type="password" placeholder="비밀번호 확인" onchange="pwCheck()" id="pwConfirm" style="color:white" /><br>
                                <span id="check"></span>
                                
                                <br><br><br>
        
                                <span class="span_field">비밀번호 힌트 질문</span><br><br>
                                    <select name="hint" class="category_hint" style="color:rgb(200, 200, 200)">
                                        <option value="1">어느 중학교 출신인가요?</option>
                                        <option value="2">좌우명을 입력해주세요.</option>
                                        <option value="3">학창시절에 좋아했던 과목은 무엇인가요?</option>
                                    </select>

                                <br><br>
        
                                <input type="text" name="hintanswer" placeholder="비밀번호 힌트 답" class="pwAnswer" style="color:white" />
        
                                <br><br><br>
        
                                <span class="span_field">관심분야</span><br><br>
                                    <!-- <div class="first">1순위 -->
                                            <select name="firstField" class="category">
                                                <option value="컴퓨터/IT">컴퓨터/IT</option>
                                                <option value="언어">언어</option>
                                                <option value="자격증">자격증</option>
                                                <option value="인증">인증</option>
                                                <option value="취업/이직">취업/이직</option>
                                                <option value="공모전">공모전</option>
                                                <option value="취미">취미</option>
                                            </select>
                                    <!-- </div> -->
        
                                    <br><br>
        
                                    <!-- <div class="second">2순위 -->
                                            <select name="secondField" class="category">
                                                <option value="컴퓨터/IT">컴퓨터/IT</option>
                                                <option value="언어">언어</option>
                                                <option value="자격증">자격증</option>
                                                <option value="인증">인증</option>
                                                <option value="취업/이직">취업/이직</option>
                                                <option value="공모전">공모전</option>
                                                <option value="취미">취미</option>
                                            </select>
                                    <!-- </div> -->
        
                                    <br><br>
        
                                    <!-- <div class="third">3순위 -->
                                            <select name="thirdField" class="category">
                                                <option value="컴퓨터/IT">컴퓨터/IT</option>
                                                <option value="언어">언어</option>
                                                <option value="자격증">자격증</option>
                                                <option value="인증">인증</option>
                                                <option value="취업/이직">취업/이직</option>
                                                <option value="공모전">공모전</option>
                                                <option value="취미">취미</option>
                                            </select>
                                    <!-- </div> -->
        
                                    <!-- <br><br><br><br> -->

                                    <br><br>
                                    <div class="warningDiv"></div>
                                    <br><br>
        
                                    <button type="button" class="signupBtn" style="color:#FFE19C" onclick="signup();">회원가입</button>
                                    
                                    <br><br><br>

                                    <span>이미 스윗이신가요?</span>&nbsp;
                                    <a href="javascript:void(0);" onclick="user_login(); return false;">로그인</a>&nbsp;
                                    <span>하러가기</span>
                                </div>
                                <!-- <div class="userLogin"> -->
                                <!-- </div> -->

                            </div>
                        </form>
                    </div>
            </div>
        </div>

        <script>
            $("#uploadedProfile").click(function(e){
                e.preventDefault();
                $("#profileImg").click();
            });
            $("input[type=file]").on("click", function(e){
                 e.stopPropagation();
            });
        </script>
    </body>
</html>