/* 정보 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  height: 150vh;
  width: 100%;
  background: #f3f7fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-field {
  position: absolute;
  top: 70px;
  width: 500px;
  height: 100px;
  padding-top: 3vw; 
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  left: 300px;
  margin-bottom: 300px;
}

.mypage-head {
  background-color: #fff;
  width: 1050px;
  height: 10vh;
  position: absolute;
  top: 40px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;

}

.homeBtn {
  background-color: #f5d17c;
  border-radius: 20px;
  border-color: black;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
}
.homeBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.modify-list {
  width: 1050px;
  height: 100vh;
  border-radius: 20px;
  border-color: #4686C2;
  border-width: 3px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* position: relative; */
  background-color: #fff;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
  position: absolute;
  top: 220px;
}

/* .info-field {
  position: absolute;
  width: 100%;
  height:500px;
  left:0px;
  display: flex;
  justify-content: center;
} */
/* .board_list {
  display: flex;
  flex-direction: column;
} */
.menu {
  background: #fff;
  display: flex;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  position: absolute;
  top: 150px;
  border-radius: 20px;
  width:1050px;
}

.menu div {
  text-align:center;
  padding: 20px;
  width: 525px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.menu div span {
  position: absolute;
  color: #4686C2;
  height: 100%;
  padding: 20px;
  width: 525px;
  left: 0;
  top: 100%;
  border-bottom: 5px solid #4686C2;
}

.menu div:hover {
  transform: translateY(-100%);
}


table {
/* border: 1px #4686C2 solid; */
border: none;
border-bottom: rgb(0, 0, 0, 0.3);
font-size: .9em;
box-shadow: 0 2px 5px rgba(0,0,0,.25);
width: 90%;
height: 100%;
border-collapse: collapse;
border-radius: 5px;
overflow: hidden;

}


.lounge_back:hover {
  cursor: pointer;
}


.card {
  position: relative;
  width: 500px;
  min-height: 600px;
  background-color: #fff;
  box-shadow: 15px 15px 60px rgba(0,0,0,.15);
  padding: 20px;
  height: auto;
  border-radius: 20px;
}
.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .top .userDetails {
  display: flex;
  align-items: center;
}
.card .top .userDetails .profile-img {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .top .userDetails h3 {
  font-size: 18px;
  color: #4d4d4f;
  font-weight: 600;
  line-height: 1.2em;
}
.card .top .userDetails h3 span {
  font-size: 0.6em;
}
#dot {
  transform: scale(1.3);
  cursor: pointer;
}
.messageBox {
  position: relative;
  width: 100%;
  min-height: 200px;
  height: auto;
  margin: 20px 0 15px;
  border-radius: 20px;
  background: #f3f7fe;
  padding: 20px;
}
.actionBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actionBtns img {
  max-width: 24px;
  cursor: pointer;
}
.actionBtns .left img {
  margin-right: 8px;
}
.message {
  font-weight: 400;
  margin-top: 5px;
  color: #777;
  line-height: 1.5em;
}
.message b {
  color: #262626;
}
.message span {
  font-size: 13px;
  cursor: pointer;
  color: #4686C2;
}


.comment-section {
  display: flex;
  align-items: center;
  width: auto;
  margin: 30px 0px 30px;
  justify-content: left;
}
.comment-section span {
  margin-right: 10px;
  color: #4d4d4f;
}
.msg-box {
  max-width: 100%;
  width: auto;
  height: auto;
  min-height: 20px;
  border: 1px solid #262626;
  padding: 10px;
  padding-right: 20px;
  border-radius: 20px;
  text-align: right;
  margin-right: 10px;
  color: #4d4d4f;
}
.delete {
  background-color: #262626;
  color: #fff;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border-radius: 50%;
}
.delete:hover {
  cursor: pointer;
}

.addComments {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}
.addComments h3 {
  font-size: 13px;
  color: #4d4d4f;
  font-weight: 600;
  line-height: 1.6em;
  position: absolute;
  margin-left: 60px;
}
.addComments .userImg {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.addComments .enterImg {
  max-width: 24px;
  cursor: pointer;
  margin-right: 10px;
}
.text {
  width: 350px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #262626;
}
.text::placeholder {
  color: #777;
}
