/* 정보 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: "GmarketSansMedium";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    height: 200vh;
    width: 100%;
    background: #f3f7fe;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info-field {
    position: absolute;
    top: 70px;
    width: 500px;
    height: 100px;
    padding-top: 3vw; 
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    left: 300px;
    margin-bottom: 300px;
  }
  
  .mypage-head {
    background-color: #fff;
    width: 1050px;
    height: 10vh;
    position: absolute;
    top: 40px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  
  }
  
  .homeBtn {
    background-color: #f5d17c;
    border-radius: 20px;
    border-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
  }
  .homeBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .modify-list {
    width: 1050px;
    height: auto;
    display: flex;
    border-radius: 20px;
    border-color: #4686C2;
    border-width: 3px;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    background-color: #fff;
    box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
    position: absolute;
    top: 220px;
    justify-content: center;
  }

  .modify_info {
    justify-content: center;
  }

  
.menu {
  background: #fff;
  display: flex;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  position: absolute;
  top: 150px;
  border-radius: 20px;
  width:1050px;
}

.menu div {
  text-align:center;
  padding: 20px;
  width: 525px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.menu div span {
  position: absolute;
  color: #4686C2;
  height: 100%;
  padding: 20px;
  width: 525px;
  left: 0;
  top: 100%;
  border-bottom: 5px solid #4686C2;
}

.menu div:hover {
  transform: translateY(-100%);
}

table {
  /* border: 1px #4686C2 solid; */
  /* border: none;
  border-bottom: rgb(0, 0, 0, 0.3);
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 90%;
  height: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden; */
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 0.9em;
  min-width: 800px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead {
  /* font-weight:bold;
  color:white;
  background-color: #4686C2; */
}

.lounge_main thead tr {
  background-color: #4686C2;
  color: #f3f3f3;
  text-align: center;
  font-weight: bold;
} 
/* td, th {
  border: none;
  border-bottom: rgb(0, 0, 0,0.5);
} */
.lounge_main th, .lounge_main td {
  padding: 12px 15px;
}
.lounge_main tbody tr {
  border-bottom: 1px solid #4686C2;
}
.lounge_main tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.lounge_main tbody tr:last-of-type {
  border-bottom: 2px solid #4686C2;
}
.lounge_main tbody tr.active-row {
  font-weight: bold;
  color: #4686C2;
}

/* .lounge_title:hover {
  cursor: pointer;
} */

.lounge_total:hover {
  color: #f5d17c;
  cursor: pointer;
  font-weight: bold;
  /* transform: scale(1.05); */
}

.cuteContainer {
  display: flex;
  width: 600px;
  height: 60px;
  margin-top: 100px;
  justify-content: center;
}
.cuteContainer img {
  display: flex;
  width: 80px;
  height: 80px;
  /* padding: 20px; */
  margin: 20px;
  border-radius: 50%;
  border: 2px solid #f5d17c;
}
.cuteContainer img:hover {
  transform: scale(1.3);
  box-shadow: -15px 30px 50px rgba( 0, 0, 0, 0.2);
}

hr {
  border-top: 1px dashed #f5d17c;
  /* color: #f5d17c;
  background-color: #f5d17c; */
  height: 2px;
  width: 600px;
  margin-top: 80px;
}
.listH2 {
  margin-top: 30px;
  margin-left: 20px;
  color: #4686C2;
  justify-content: space-between;
}

.box {
  position: relative;
  min-width: 600px;
  min-height: 600px;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
  border-radius: 20px;
  backdrop-filter: blur(25px);
  z-index: 10;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.box .list {
  position: relative;
  display: flex;
  padding: 10px;
  background: #f3f7fe;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  height: auto;
}
.box .list:hover {
  background: #f5d17c;
  box-shadow: -15px 30px 50px rgba( 0, 0, 0, 0.2);
  transform: scale(1) translateX(30px) translateY(-15px);
  z-index: 1000;
  color: #4686C2;
}

.box .list .imgBx {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}
.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .list .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  width: 360px;
}
.box .list .content h2, p {
  color: #4686C2;
}
.box .list .content .rank {
  position: absolute;
  right: 20px;
  color: #4686C2;
  transition: 0.5s;
}
.box .list .content .rank small {
  font-weight: 500;
  opacity: 0.25;
}
.box .list:hover .content .rank {
  right: 20px;
}