@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  height: 150vh;
  width: 100%;
  background: #f3f7fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-field {
  position: absolute;
  top: 70px;
  width: 500px;
  height: 100px;
  padding-top: 3vw; 
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  left: 300px;
  margin-bottom: 300px;
}

.mypage-head {
  background-color: #fff;
  width: 1050px;
  height: 10vh;
  position: absolute;
  top: 40px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;

}

.homeBtn {
  background-color: #f5d17c;
  border-radius: 20px;
  border-color: black;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
}
.homeBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.modify-list {
  width: 1050px;
  height: auto;
  display: flex;
  border-radius: 20px;
  border-color: #4686C2;
  border-width: 3px;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  background-color: #fff;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
  position: absolute;
  top: 150px;
}

.info-field {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 36%;
}

.menu {
  background: #fff;
  display: flex;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  position: absolute;
  top: 150px;
  border-radius: 20px;
  width:1050px;
}

.menu div {
  text-align:center;
  padding: 20px;
  width: 525px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.menu div span {
  position: absolute;
  color: #4686C2;
  height: 100%;
  padding: 20px;
  width: 525px;
  left: 0;
  top: 100%;
  border-bottom: 5px solid #4686C2;
}

.menu div:hover {
  transform: translateY(-100%);
}




form {
  width: 90%;
  max-width: 600px;
  margin-bottom: 80px;
  margin-top: 50px;
}
.input-group {
  margin-bottom: 30px;
  position: relative;
}
input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #4686C2;
  color: #4686C2;
  background: transparent;
  font-size: 15px;
  border-radius: 10px;
}
label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #4686C2;
  cursor: text;
  transition: 0.2s;
}
button {
  padding: 10px 0;
  color: #4686C2;
  outline: none;
  background: transparent;
  border: 1px solid #4686C2;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;

}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -35px;
  font-size: 14px;
}
/* .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .input-group {
  flex-basis: 48%;
} */