@font-face {
    font-family: 'GS_bold'; 
    src: local('GmarketSans-Bold'), url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
}

* {
    font-family: "GS_bold";
}

/* 전체 컨테이너 */
.wrap {
    box-sizing: border-box;
    /* margin-top: 40px; */
    margin: 40px auto 0;
    /* width: 1280px; */
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.img_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 10px; */
}

/* 카테고리별 이미지 */
.CategoryImage {
    background-color: #4686C2;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 50px;
    z-index: 1;
    opacity: 0.5;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

 /* 스터디 이미지(등록이미지) */
.studyImage {
    background-color: #c7d7eb;
    color: #333;
    width: 1280px;
    height: 280px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    margin-top: -150px;
    display: flex;
    /* padding-left: 150px; */
    z-index: 2;
    opacity: 0.7;
    overflow: hidden;
}

/* 스터디 명 */
.studyName {
    /* background-color: #e5eef8; */
    font-size: 40px;
    width: 1280px;
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.studyName ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.studyName ul li{
    font-size: 16px;
    color: #333;
    margin-right: 20px;
}

.studyName_txt {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}


.section_box{
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px 100px; */
}

.studyContent_text {
    font-size: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px 100px;
    display: flex;
    /* margin-left: 580px;
    margin-top: -50px;
    position: absolute; */
}



.page_flexbox{
    width: 100%;
    display: flex;
    /* padding: 0 20px; */
    align-items: center;
}
.page_flexbox.column{
    flex-direction: column;
}
/* 텍스트 문구  */ /* 수정중 */
/* .studyhashtag_text ,.userImage_text, .studyForm_text,
.studyAddress_text, .period_text { */
.page_txt{
    width: 300px;
    flex: 0 0 auto;
    color: #333;
    font-size: 30px;
    padding-left: 100px;
    /* margin-left: 100px; */
}
.page_infobox{
    display: flex;
    justify-content: center;
}

/* 스터디 소개글 */
.studyContent {
    /* background-color: #e5eef8; */
    color: #333;
    text-align: center;
    justify-content: center;
    display: flex;
}

/* 해시태그 */
.hashTag {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border:none;
    padding: 0 10px;
    flex-direction: column;
}

/* 스터디 멤버 이미지 */
.userImage_box {
    /* background-color: #e5eef8; */
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border: none;
    color:#fff;
    margin-top: 20px;
    padding: 0 100px;
    width: 100%;
    /*  */
}

.userImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    overflow: hidden;
    flex: 0 0 auto;
}

.studyForm {
    /* background-color: #e5eef8; */
    color: #333;
    width: 900px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border:none;
    /* color:#fff; */
    padding-left: -100px;
}

.studyAddress {
    /* background-color: #e5eef8; */
    color: #333;
    width: 900px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border:none;
    /* color:#fff; */
}

.studyRecruit {
    /* background-color: #e5eef8; */
    color: #333;
    width: 900px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border:none;
    /* color:#fff; */
    font-size: 20px;
}

.period_box {
    /* background-color: #e5eef8; */
    color: #333;
    width: 1100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border:none;
    
}

/* 스터디 가입 */
.detail {
    background-color: #4686C2;
    width: 800px;
    height: 60px;
    border-radius: 20px;
    border: 0;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
/* 수정중 */
.ture, .back, .list{
    background-color: #4686C2;
    border-radius: 10px;
    width: 300px;
    border: 0;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.regi_btn_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 72px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    padding: 10 30px;
}
.regi_txt{
    width: 50%;
    height: 100%;
    background-color: #ccc;
    font-size: 20px;
    color: #333;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 50px; */
}
.regi_btn{
    width: 50%;
    height: 100%;
    background-color: #4686C2;
    border: 0;
    font-size: 20px;
    /* padding: 0 10px; */
    padding: 10 30px;
}