@font-face {
    font-family: 'GS_bold'; 
    src: local('GmarketSans-Bold'), url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
}

* {
    font-family: "GS_bold";
}

html {
    background-color: #4686c2;
}

.whole_container {
  box-sizing: border-box;
}

.feed_container, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


form {
	position: relative;
	background: white;
	border-radius: .4em;
    width: 900px;
    height: 1200px;
    /* height: auto; */
    text-align: center;
    box-sizing: border-box;

}
ul {
    list-style: none;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    position: relative;
}

.context_container {
  position: absolute;
  /* padding-top: 10%; */
}

form:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-right: 0;
	margin-left: -10px;
	margin-top: -20px;
}


.form-row {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

.form-row:first-child {
  padding-bottom:10%;
}
.name {
    width: 300px;
    color: #333;
    font-size: 20px;
    margin-top: 11px;
}

    #group_img_upload {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding:10px 10px 10px 10px;
  }

  .group label {
    width: 700px;
    height: 100px;
    border: 3px dashed;
    border-color: #4686C2;
    /* border-radius: 50px 50px 50px 50px; */
    position: absolute;
    top: 0;
    bottom: 70%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: block;
  }
  .group label:hover{
    cursor:pointer;
    background-color: #4686C2;
  }
  .group label:active {
    background-color: #4686C2;
  }
  .group input[type="file"] {
    /* position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form input::file-selector-button {
    display: none;
  }

  .input_text {
    background: transparent;
    line-height: 30px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size:15px;
    padding:20px;
    width: 100%;
    text-align: center;
  }