@font-face {
    font-family: 'GS_bold'; 
    src: local('GmarketSans-Bold'), url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
}

* {
    font-family: "GS_bold";
    /* margin: 0; */
    /* padding: 0; */
}

html {
    background-color: #4686c2;
}

/* form {
    background-color: white;
    border-radius: 30px;
} */

.feed_container, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
	position: relative;
	background: white;
	border-radius: .4em;
    width: 900px;
    height: 900px;
    text-align: center;
}
ul {
    list-style: none;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-right: 0;
	margin-left: -10px;
	margin-top: -20px;
}


.form-row {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.name {
    width: 188px;
    color: #333;
    font-size: 15px;
    margin-top: 11px;
}

    #group_img_upload {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding:10px 10px 10px 10px;
  }
  
  .group label {
    width: 700px;
    height: 30px;
    border: 3px solid;
    border-color: #4686C2;
    /* border-radius: 50px 50px 50px 50px; */
    position: absolute;
    top: 0;
    bottom: 70%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  .group label:hover{
    cursor:pointer;
    background-color: #4686C2;
  }
  .group label:active {
    background-color: #4686C2;
  }
  .group input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  form input::file-selector-button {
    display: none;
  }