.account {
  width: 400px;
  height: 450px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid;
  border-color: #4686C2;
  border-radius: 30px 30px 30px 30px;
}

.userLogo {
  height:100px;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 38%;
  margin: 10px auto;
  size : 100px;
}

.user {
  width: 250px;
  height: 60px;
  background-color: #4686C2;
  position: absolute;
  top: 0%;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid;
  border-color: #4686C2;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  line-height: 50px;
  color: white;
}

p {
  position: absolute;
  top: 48%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 25px auto;
  text-align: center;
  font-size: 13px;
}

.box {
  width: 20px;
  border: 2px solid;
  position: absolute;
  left: 46%;
  bottom: 31%;
  color: #4686C2;
}

.kakao {
  width: 180px;
  height: 50px;
  position: absolute;
  top: 65%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 50px auto;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  line-height: 50px;
}

a {
  text-decoration-line: none;
}
