/* ==========================================footer====================================== */
.inner-footer {
  margin: 0;
  padding: 0;
  background-color: #f3f7fe;
}

.social-links {
  display: flex;
  height: 90px;
}
.social-links img {
  width: 30px;
  height: 30px;
}
.social-links ul {
  padding: 20px;
  display: flex;
  width: 280px;
  height: 30px;
  margin: auto;
}

.social-items{
  list-style: none;
}

.social-items a {
  padding: 10px 20px;
  font-size: 30px;
  transition: all .25s;
  color: #000;
}

.social-items a:hover {
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  0% {
    margin-top: 25px;
  }
  100% {
    margin-top: 0px;
  }
}

.quick-links {
  display: flex;
  width: 100%;
  height: 20px;
  /* margin: auto; */
  margin-bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.quick-links ul {
  display: flex;
}
.quick-items {
  list-style: none;
}
.quick-items a {
  text-decoration: none;
  padding: 0px 15px;
  font-size: 13px;
  color: #000;
  transition: all .25s;
}

.quick-items a:hover {
  color: #4686C2;
}

.outer-footer {
  padding: 30px;
  text-align: center;
  color: #000;
  font-size: 13px;
  background-color: #f3f7fe;
}