
    @font-face {
        font-family: 'GS_bold'; 
        src: local('GmarketSans-Bold'), url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
    }

    * {
        font-family: "GS_bold";
    }

    html,body {
        height:100%;
    }
    /* 전체 컨테이너 설정 */
    .container {
        margin: auto;
        padding: 0px;
        width:100%;
        height: 100%; 
        /* height 100vh로 하면 맥에서 잘림, 이거는 시간날때 해결하기!!!!!!! */
        display: flex;
        align-items: center;
        justify-content: center;
        position:relative;

    }

    .login_main {
        position: relative;
    }


    .login_background {
        position: absolute;
        margin: auto;
        width:1280px;
        /* width:100%; */
        z-index: 1;
    }

    /* 폼 내부 설정 */

    #login_form {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        padding:10px 10px 10px 10px;
    }

    .login_logo {
        padding-bottom: 50px;
    }

    .form_background {
        margin:auto;
        width : 640px;
        height: 640px;
        background-color: white;
        opacity: 0.7;
        position:absolute;
        display:flex;
        justify-content: center;
        /* display: block; */
        /* top:10vh;
        left:35vh;  */
        z-index:2;
    }
    /* 위에 애는 login_main기준으로 움직임 */

    .login_info {
        position:absolute;
        z-index: 3;
        display: inline-block;
        text-align: center;
        width:400px;
    }

    .login_form_user, .login_form_pw{
        border: 0;
        background-color: #4686C2;
        width:300px;
        height: 50px;
        border-radius: 30px;
    }
    input {
        text-align: center;
    }
    
    input::-webkit-input-placeholder { color: white; text-align: center; opacity: 0.5;}
    input:focus {
        outline: 3px solid #4686C2
    }

    .remember {
        padding-top: 20px;
    }

    input[id="userid_Remember"] {
        position:relative;
        top:3px;
    }

    .loginUser {
        background-color: #4686C2;
        border:0;
        border-radius: 20px;
        width: 120px;
        height:35px;
    }

    a:link { text-decoration:none; }

