@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "GmarketSansMedium";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 90px;
  z-index: 100000;
}
header.sticky {
  padding: 5px 100px;
  /* background: #f3f7fe; */
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header img {
  position: relative;
  width: 150px;
  transition: 0.6s;
}
header img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
header ul {
  position: relative;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-right: 160px;
}
header ul li {
  position: relative;
  list-style: none;
  padding: 50px 10px;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  /* font-weight: bold; */
  transition: 0.6s;
  font-size: 17px;
}

/* .logout i {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.6s;
  font-size: 15px;
} */

.logout span {
  font-family: "GmarketSansMedium";
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  /* font-weight: bold; */
  transition: 0.6s;
  font-size: 17px;
}

header ul li a:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.logout:hover {
  cursor: pointer;
  transform: scale(1.05);
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}


/* ==========================================메인 첫번째 페이지====================================== */
.slogun {
  width: 100%;
  height: 100vh;
  background: #f3f7fe;
  position: relative;
  display: flex;
  align-items: center;
}
.slogun_search {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 100%;
  margin: 10% 10% 0 10%;
}
.slogun h1 {
  font-size: 60px;
  position: relative;
  z-index: 2;
  font-weight: 600;
  color: rgb(69, 73, 78);
  padding: 7px;
  cursor: pointer;
  transition: transform 0.5s;
}

.slogun #studymate {
  font-size: 85px;
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 700;
  text-align: center;
  background-color: #4686c2;
  cursor: pointer;
  transition: transform 0.5s;
  /*vertical-align: super;*/
  padding: 12px 10px 8px 10px;
  margin-top: 10px;
}

.slogun h1:hover {
  -webkit-text-fill-color: #f5d17c;
  transform: translateY(-10px);
}

.slogun #studymate:hover {
  background-color: #f5d17c;
  -webkit-text-fill-color: #fff;
  transform: translateY(-10px);
}

.img-box {
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #275185;
  background-size: contain;
  background-position: center;
  /* overflow: hidden; */
  background-image: url(/public/image/mainFirst.png);
  transition: background-image 0.5s;
  /* background-size: 600px; */
}

/* .img-box > img {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  padding-left: 10vw;
} */

.slogun_search h1:nth-child(1):hover ~ .img-box {
  background-image: url(/public/image/mainFind-002.png);
}
.slogun_search h1:nth-child(2):hover ~ .img-box {
  background-image: url(/public/image/mainYour.png);
}
.slogun_search h1:nth-child(3):hover ~ .img-box {
  background-image: url(/public/image/mainStudy.png);
}

.mysearch {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #f3f7fe;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 0 0 2px #4686c2;
  overflow: hidden;
  margin-top: 3vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.mysearch.active {
  width: 500px;
}

.mysearch > i {
  width: 30px;
  font-size: 20px;
  color: #275185;
  transform: translateX(10px);
  cursor: pointer;
}

.mysearch > .input {
  position: relative;
  width: 420px;
  height: 40px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mysearch .input input {
  position: absolute;
  top: 0;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}
.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0px solid #fff;
}

/* .clear::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}
.clear::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
} */

/* ==========================================메인 두번째 페이지====================================== */

.container {
  width: 100%;
  min-height: 100vh;
  background: #f3f7fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  width: 90%;
  /* max-width: 800px; */
  margin: auto;
}
.testimonial-text h2 {
  font-size: 25px;
  font-weight: bold;
}
.testimonial-text {
  /* background: #ff0058; */
  color: #fff;
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 80px; /* 텍스트 위 여백*/
  /* box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); */
}
.user-text {
  width: 80%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.user-text img {
  width: 700px;
  height: 330px;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); 
  /* transform: translateY(-10px); */
  cursor: pointer;
  /* transform: scale(1.05); */
}
/* .user-text img:hover {
  cursor: pointer;
  transform: scale(1.05);
} */
.user-text a {
  display: block;
  font-size: 13px;
  /* margin-top: 70px; */
  font-weight: 500;
  text-transform: uppercase;
  text-decoration-line : none;
  font-family: "GmarketSansMedium";
  color: #f6c042;
  font-size: 20px;
}
.user-text h2 {
  font-family: "GmarketSansMedium";
  color: #4686C2;
}
.testimonial-pic {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catPic {
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.user-text.active-text {
  display: block;
  animation: moveup 0.5s linear forwards;
}
.catPic.active-pic{
  width: 70px;
  border: 3px solid #ff0058;
}

@keyframes moveup {
  0% {
    margin-top: 25px;
  }
  100% {
    margin-top: 0px;
  }
}

/* ==========================================메인 세번째 페이지====================================== */

.container_third {
  width: 100%;
  height: auto;
  /* background: #2b323c; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* padding: 0 8%; */
}
.container_third h1 {
  text-align: center;
  padding-top: 100px;
  /* margin-bottom: 50px; */
  font-weight: 900;
  font-size: 30px;
  position: relative;
}
.container_third h1 span {
  color: #f5d17c;
}
/* .container_third h1::after {
  content: '';
  background: #4686C2;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
} */
.row {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  padding: 50px; */
  flex-wrap: wrap;
  display: relative;
  align-content: center;
  justify-content: center;
  width: 1200px;
  height: 500px;
  margin: auto;
  text-align: center;
  margin: auto;
  padding-top : 3vw;
  /* padding-bottom: 10vw; */
}
.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s background 0.5s;
  width: 200px;
  height: 200px;
  margin: 20px;
}
.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #57a8f5;
}
.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
}
.service:hover {
  background: #57a8f5;
  color: #fff;
  transform: scale(1.05);
}
.service:hover i {
  color: #fff;
}

.category p {
  font-size: 20px;
}

/* ==========================================메인 네번째 페이지====================================== */
.last_container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.last_row {
  display: flex;
  height: 88%;
  align-items: center;
  padding-right: 8%;
}
.pick {
  flex-basis: 50%;
  text-align: center;
}
.pick h1 {
  color: #f5d17c;
  font-size: 100px;
}
.feed {
  width: 200px;
  height: 200px;
  /* display: inline-block; */
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(); 
  /* 게시물 등록 이미지 데이터 받아 와야 함.. */
  background-position: center;
  background-size: cover;
  background-color: #4686C2;
}

/* ==========================================footer====================================== */
.inner-footer {
  margin: 0;
  padding: 0;
  background-color: #f3f7fe;
}

.social-links {
  display: flex;
  height: 90px;
}
.social-links img {
  width: 30px;
  height: 30px;
}
.social-links ul {
  padding: 20px;
  display: flex;
  width: 280px;
  height: 30px;
  margin: auto;
}

.social-items{
  list-style: none;
}

.social-items a {
  padding: 10px 20px;
  font-size: 30px;
  transition: all .25s;
  color: #000;
}

.social-items a:hover {
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  0% {
    margin-top: 25px;
  }
  100% {
    margin-top: 0px;
  }
}

.quick-links {
  display: flex;
  width: 100%;
  height: 20px;
  /* margin: auto; */
  margin-bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.quick-links ul {
  display: flex;
}
.quick-items {
  list-style: none;
}
.quick-items a {
  text-decoration: none;
  padding: 0px 15px;
  font-size: 13px;
  color: #000;
  transition: all .25s;
}

.quick-items a:hover {
  color: #4686C2;
}

.outer-footer {
  padding: 30px;
  text-align: center;
  color: #000;
  font-size: 13px;
  background-color: #f3f7fe;
}

