@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

  * {
    font-family: "GmarketSansMedium";
}

html,body {
    height:100%;
}
/* 전체 컨티이너 설정 */
.container{
    margin: auto;
    padding: 0px;
    width: 100%;
    /* height: 150vh; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modify_background {
    /* position: absolute; */
    margin: auto;
    /* width: 100%; */
    width: 1280px;
    z-index: 1;
}

/* 폼 내부 정보 */

#modify_password {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 3;
    padding: 10px 10px 10px 10px;
}

.modify_logo {
    /* position: relative;
    padding-bottom: 440px; */
    padding-bottom: 50px;
}

.form_background {
    margin: auto;
    width: 640px;
    height: 740px;
    background-color: white;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    z-index: 2;
}

/*  */

.modify_info {
    position: absolute;
    z-index: 3;
    display: inline-block;
    text-align: center;
    width: 400px;
    box-sizing: border-box;
}

.modify_card {
    margin-top: -20rem;
    padding-left: 2rem;
    justify-content: center;
    /* display: inline-block; */
}

.pw_modify {
    position: absolute;
    right: -350px;
    top: -25rem;
}

/*password_modify {
    width: 400px;*/
    /* padding-inline: -10rem; */
    /*text-align: center;
    padding-top: -60px;
    padding-left: -15rem;;
    font-size: 30px;
    position: relative;
    top: 570px;
    right: 355px;
}*/

.password_modify {
    padding-bottom: 25px;
    font-size: 35px;
}
.modify_form_user, .check_pw, .check_pwd, .modifyUser_1, .modifyUser_2 {
    border: 0;
    background-color: #4686C2;
    width:300px;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 25px;
}
input {
    text-align: center;
}
input::-webkit-input-placeholder { color: white; text-align: center; opacity: 0.5;}
input:focus {
    outline: 3px solid #4686C2
}

.modifyUser_1, .modifyUser_2 {
    background-color: #4686C2;
    border:0;
    border-radius: 30px;
    width: 300px;
    height:50px;
}

.modifyUser_2 {
    width: 150px;
    height:35px;
}

a:link { text-decoration:none; }