@font-face {
    font-family: 'GS_bold'; 
    src: local('GmarketSans-Bold'), url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
    }

    * {
        font-family: "GS_bold";
    }

