/* 정보 */
@font-face {
  font-family: 'GS_bold'; 
  src: local('GmarketSans-Bold'), url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
}

* {
  font-family: "GS_bold";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  height: 120vh;
  width: 100%;
  background: #f3f7fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-head {
  background-color: #fff;
  width: 1050px;
  height: 10vh;
  position: absolute;
  top: 10%;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;

}

.menu {
  background: #fff;
  display: flex;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  position: absolute;
  top: 25%;
  border-radius: 20px;
}

.menu div {
  text-align:center;
  padding: 20px;
  width: 350px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.menu div span {
  position: absolute;
  color: #4686C2;
  width: 100%;
  height: 100%;
  padding: 20px;
  width: 350px;
  left: 0;
  top: 100%;
  border-bottom: 5px solid #4686C2;
}

.menu div:hover {
  transform: translateY(-100%);
}


.modify-list {
  width: 1050px;
  height: 70vh;
  display: flex;
  border-radius: 20px;
  border-color: #4686C2;
  border-width: 3px;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  background-color: #fff;
  box-shadow: 0 10px 10px 0px rgba(0,0,0,0.1);
  position: absolute;
  margin-top: 140px;
}

.profile-box {
  width: 250px;
  height: 250px;
  background: #fff;
  border-radius: 20px;
  /* margin-bottom: 30px; */
  box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
  padding: 20px;
  position: relative;
  margin: -130px auto auto -500px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s background 0.5s;
  flex-wrap: wrap;

}
.profile-box:hover {
  background: #f5d17c;
  transform: scale(1.05);
}

.profile-box img {
  width: 210px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 8px;
  transition: .5s;
}
.profile-box img:hover {
  height: 215px;
}

.feed-row {
  flex-wrap: wrap;
}

.studyName {
  background: #4686C2;
  margin: 110px auto 20px;
  text-align: center;
  border-radius: 8px;
}

.studyName h4 {
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  color: #fff;
}
.studyName p {
  text-align: center;
  line-height: 14px;
  color: #555;
}
.head {
  position: absolute;
  top: 30px;
  left: 30px;
}