@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 90px;
  z-index: 100000;
}
header.sticky {
  padding: 5px 100px;
  background: #f3f7fe;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header img {
  position: relative;
  width: 110px;
  transition: 0.6s;
}
header img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
header ul {
  position: relative;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-right: 160px;
}
header ul li {
  position: relative;
  list-style: none;
  padding: 50px 10px;
}


.logout i{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.6s;
  font-size: 15px;
}

i span {
  font-family: "GmarketSansMedium";
  color: #000;
}

header ul li a:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.logout:hover {
  font-family: "GmarketSansMedium";
  cursor: pointer;
  transform: scale(1.05);
}

a > .fa-heart {
  color: #000;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}


html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GmarketSansMedium";
}

body {
  background:#f3f7fe;
}

.main-container{
  font-family: "GmarketSansMedium";
  /* width: 90vw;
  margin: 0 auto;
  padding: 40px 0; */
  height: auto;
  width:100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: "GS_bold";
  min-height: 100%;
  padding-bottom: 60px;

}

#category-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 130vh;
  background-color: #fff;
  /* position:relative; */
  width:100%;
  height:100px;
  border-radius:20px;
  margin-top: 10%;
}
.category-title{
  font-family: "GmarketSansMedium";
  /* flex: 0 0 calc(16.6667% - 10px); */
  width:160px;
  display: flex;
  justify-content:center;
  padding: 10px 0 10px 0;
  margin: 5px;
  cursor: pointer;
  /* transition: all 0.4s ease; */
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  /* font-size:1.5rem; */
}

.category-title:hover {
  /* border-bottom: 3px solid #4686C2; */
  background-color: rgb(70, 134, 194,0.5);
  border-radius: 20px;
}

.active {
  /* border-bottom: 3px solid #4686C2; */
  background-color: rgb(70, 134, 194,0.5);
  border-radius: 20px;
}

.category > p {
  background:transparent;
  width: 160px;
}



.resultText, .cate_resultText {
  font-family: "GmarketSansMedium";
  margin: 30px 0 30px 0;
  text-align: center;
  
}


/** single post **/

.feed-main-container{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 0px;
}
.studys{
  font-family: "GmarketSansMedium";
  margin: 50px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.all-business,.all-category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.studys:hover {
  cursor: pointer;

}
.feed-main-container > div{
  box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}

.feed-collect {
  background-color: #fff;
  width:100%;
  height:100%;
  border-radius:20px;
  
}

.post-img{
  position: relative;
  text-align: center;
  width: 300px;
  margin-bottom: 15px;

}
.post-img > img {
  border-radius: 20px 20px 0 0 ;
}

.post-content > h2 {
  padding:10px 0;
}

figcaption{
  width: 100%;
   height: 200px;
   border-radius: 20px 20px 0 0 ;
  background-color: rgba(0,0,0,0.7);

  position: absolute; /* 이미지와 겹치게 처리 */
  top: 0; left: 0px;

  color: #fff; text-align: center;
  line-height: 200px;

  opacity: 0; /* 처음엔 안보이고 */

  transition: 0.3s;
}

.post-img:hover figcaption {
  /* 마우스를 올리면 보이게 처리 */
  opacity: 1;
}


.search_studyname {
  background-color: #4686C2;
  color:white;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size:18px;
  margin:0 15px;
}

.total_recruit {
  font-size: 12px;
  float: right;
  margin-top:10px;
  margin-bottom: 10px;
  display: block;
}

.category-name{
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}
.category-name {
  background-color: rgb(211, 211, 211, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 7px;;
  left: 7px;;
  
}

.post-content {
  text-align: center;
}
.name_likes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.study_content_box {
  background-color: rgba(211, 211, 211, 0.119);
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin: 20px 20px 20px 20px;
  overflow: hidden;
  width: 230px;
  text-overflow:ellipsis;
  

}
.study_content_box > span {
  margin:10px 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 
.post-content-top{
  background: #80ced7;
  color: #fff;
  opacity: 0.8;
  padding: 5px 0 5px 15px;
}
.post-content-top span{
  padding-right: 20px;
}
.post-content-top .fa-comment, .post-content-top .fa-calendar{
  padding-right: 5px;
}
.post-content h2{
  font-size: 22px;
  padding: 12px 0;
  font-weight: 400;
}
.post-content p{
  opacity: 0.7;
  font-size: 15px;
  line-height: 1.8;
} */
.read-btn{
  border: none;
  padding: 8px 15px;
  display: block;
  margin: 5px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #292929;
  background: transparent;
  margin-bottom: 40px;
}

.read-btn:hover{
  background: #f6f6f6;
}



/***************/
@media(max-width: 1170px){
  .posts-main-container{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 768px){
  .posts-main-container{
      grid-template-columns: 1fr;
  }
}


/***********/

.active{
  background: #4686C2;
}












/* 검색 결과 */
h2 {
  font-size: 30px;
}

.search_Result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}
.search_Result div img {
  width: 100%;
  border-radius: 10px;
}
.search_Result div {
  position: relative;
}
.search_Result div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
  font-weight: 300px;
  text-align: center;
  font-size: 30px;
}
.search_Result div:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.likes:hover {
  cursor: pointer;
}

.fa-solid fa-heart {
  color:red;
  font-size:2rem;
}

.fa-heart:before {
  color: red;
  content: "\f004";
}

.heartEffect {
  animation-duration: 3s;
  animation-name: heartBling;
  animation-iteration-count: 1;

}

@keyframes heartBling
{
    0% { transform: scale( 1.3 ); }
    33% { transform: scale( 0.9 ); }
    66% { transform: scale( 1.3 ); }
    100% { transform: scale( 1.0 ); }
}

/* 게시글 */

/* ==========================================footer====================================== */
.sticky-footer {
  position: relative;
  transition: translateY(-100%);
  height: 60px;
}
.sticky-footer ul {
  margin-top: 0;
  padding: 10px;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.sticky-footer ul li a {
  color: #000;
  text-decoration: none;
  opacity: 0.5;
}

.sticky-footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.sticky-footer ul li a:hover {
  opacity: 1;
  cursor: pointer;
}

.sticky-footer p {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #000;
  /* padding: 20px 0; */
}
#result_box {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#search_input {
  background: #f3f7fe;
  border-radius: 60px;
  width: 400px;
  height: 40px;
  border: 3px solid rgb(71, 136, 192);
  padding: 0px 30px;
}

.clear {
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  border: 0; 
  background-color: transparent;
}
