@font-face {
  font-family: 'GS_bold'; 
  src: local('GmarketSans-Bold'), url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  font-family: "GS_bold";
}

/* ==========================================메인 첫번째 페이지====================================== */
.slogun {
  width: 100%;
  height: 100vh;
  background: #f3f7fe;
  /* padding: 10px 3%; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slogun h1 {
  font-size: 45px;
  position: relative;
  z-index: 2;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
  cursor: pointer;
  transition: transform 0.5s;
}
.slogun #studymate {
  font-size: 45px;
  position: relative;
  z-index: 2;
  /* -webkit-text-fill-color: transparent; */
  -webkit-text-stroke: 2px #f5d17c;
  cursor: pointer;
  transition: transform 0.5s;
}
.slogun h1:hover {
  -webkit-text-fill-color: #000;
  transform: translateY(-10px);
}
.slogun #studymate:hover {
  -webkit-text-fill-color: #4686C2;
  transform: translateY(-10px);
}

.img-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 67%;
  background-image: url(image/mainFirst.png);
  background-size: cover;
  background-position: center;
}
.slogun h1:nth-child(1):hover ~ .img-box {
  background-image: url(image/mainFind-002.png);
}
.slogun h1:nth-child(2):hover ~ .img-box {
  background-image: url(image/mainYour.png);
}
.slogun h1:nth-child(3):hover ~ .img-box {
  background-image: url(image/mainStudy.png);
}

.mysearch {
  position: relative;
  width: 60px;
  height: 60px;
  background: #f3f7fe;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #4686C2;
  overflow: hidden;
}
.mysearch.active {
  width: 750px;
}
.mysearch .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #f3f7fe;
  border-radius: 60px;
  display: flex;
  justify-content: center ;
  align-items: center;
  cursor: pointer;
}
.mysearch .icon::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #4686C2;
  border-radius: 50%;
  transform: translate(-4px, -4px) rotate(315deg);
}
.mysearch .icon::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #4686C2;
  transform: translate(6px, 6px) rotate(315deg);
}
.mysearch .input {
  position: relative;
  width: 670px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mysearch .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .clear::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}
.clear::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
} */

/* ==========================================메인 두번째 페이지====================================== */

.container {
  width: 100%;
  min-height: 100vh;
  background: #f3f7fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  width: 90%;
  /* max-width: 800px; */
  margin: auto;
}
.testimonial-text {
  /* background: #ff0058; */
  color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  /* box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); */
}
.user-text {
  width: 80%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.user-text img {
  width: 800px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); 
  /* transform: translateY(-10px); */
  cursor: pointer;
  /* transform: scale(1.05); */
}
/* .user-text img:hover {
  cursor: pointer;
  transform: scale(1.05);
} */
.user-text a {
  display: block;
  font-size: 13px;
  /* margin-top: 70px; */
  font-weight: 500;
  text-transform: uppercase;
  text-decoration-line : none;
  font-family: "GS_bold";
  color: #f5d17c;
  font-size: 20px;
}
.user-text h2 {
  color: #f5d17c;
}
.testimonial-pic {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catPic {
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.user-text.active-text {
  display: block;
  animation: moveup 0.5s linear forwards;
}
.catPic.active-pic{
  width: 70px;
  border: 3px solid #ff0058;
}

@keyframes moveup {
  0% {
    margin-top: 25px;
  }
  100% {
    margin-top: 0px;
  }
}

/* ==========================================메인 세번째 페이지====================================== */

.container_third {
  width: 100%;
  height: 100vh;
  /* background: #2b323c; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* padding: 0 8%; */
}
.container_third h1 {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}
.container_third h1 span {
  color: #f5d17c;
}
/* .container_third h1::after {
  content: '';
  background: #4686C2;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
} */
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  padding: 50px;
}
.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s background 0.5s;
}
.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #57a8f5;
}
.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
}
.service:hover {
  background: #57a8f5;
  color: #fff;
  transform: scale(1.05);
}
.service:hover i {
  color: #fff;
}

/* ==========================================메인 네번째 페이지====================================== */
.last_container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.last_row {
  display: flex;
  height: 88%;
  align-items: center;
  padding-right: 8%;
}
.pick {
  flex-basis: 50%;
  text-align: center;
}
.pick h1 {
  color: #f5d17c;
  font-size: 100px;
}
.feed {
  width: 200px;
  height: 200px;
  /* display: inline-block; */
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(); 
  /* 게시물 등록 이미지 데이터 받아 와야 함.. */
  background-position: center;
  background-size: cover;
  background-color: #4686C2;
}